html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background: white;
}
body {
  max-width: 960px;
  margin: 0px auto;
}
a {
    color: #377ba8;
}
hr {
  border: 3px solid #ff3399;
  margin: 10px 0;
}
input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 3px;
}
table {
  border-collapse: collapse;
}
th, td {
    padding: 3px;
}

.blink {
    animation: blinker 2s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0.2; }
}
.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

.title-container {
    display: grid;
    grid-template-columns: 20px 1fr 6fr 1fr 20px;
    grid-gap: 10px;
    align-items: center;
}
.title-img {
    max-width: 100%;
    max-height: 100%;
}
.title-string {
    color: #99004d;
    font-size: xx-large;
    text-align: center;
}

.send-container {
    display: grid;
    grid-template-columns: 9fr 11fr;
    grid-template-rows: 1fr 240px 40px 40px;
    grid-gap: 5px 0;
    align-items: center;
}
.send-child:nth-child(1) {
    grid-column:1/2;
    grid-row:1/2;
    margin-right: auto;
}
.send-child:nth-child(2) {
    grid-column:2/3;
    grid-row:1/2;
    margin-left: auto;
}
.send-child:nth-child(3) {
    grid-column:1/3;
    grid-row:2/3;
}
.send-child:nth-child(4) {
    grid-column:1/3;
    grid-row:3/4;
}
.send-child:nth-child(5) {
    grid-column:1/3;
    grid-row:4/5;
}

.machine-header {
    text-align: center;
}
.machine-label {
    text-align: right;
}
.machine-value {
    text-align: left;
}
#destination2 {
    width: 200px;
}

.send-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-container {
    display: grid;
    grid-template-columns: 200px 1fr 10px 140px;
    grid-gap: 3px;
    align-items: center;
}
#message-label {
    text-align: right;
}
#message-input {
    width: 100%;
}

.error-message {
    color: red;
}

.received-title {
    font-weight: bold;
}
.msgtab {
    width: 100%;
}
.msghdr {
    color: white;
    background-color: #26a69a;
}
.msgcell {
    border: 1px solid black;
    padding: 3px;
}
th.msgcell {
    text-align: center;
    font-weight: normal;
}
.msgip {
    width: 150px;
}
.msghost {
    width: 200px;
}
.msgrow:nth-child(even) {
    background-color: #ddf2f0;
}
.msgrow:nth-child(odd) {
    background-color: #Eef7f5;
}