<!doctype html>
<html>
  <head>
    <title>Message app on Ninja.Fish</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">// <![CDATA[
      window.onload = setupRefresh;
  
      function setupRefresh()
      {
          refreshBlock();
          setInterval("refreshBlock();",3000);
      }
      
      function refreshBlock()
      {
         $('#messagetable').load("table");
      }

      function destination2OnChange()
      {
        document.getElementById("destination-input").value =
         document.getElementById("destination2").value;
      }
  // ]]></script>
  </head>

  <body>
    <div class="title-container">
      <div></div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-1.jpg') }}"></div>
      <div>
        <div class="title-string">
          Let's send a message<br>(メッセージをおくってみよう)
        </div>
      </div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-2.jpg') }}"> </div>
      <div></div>
    </div>

    <hr>

    <div class="send-container">
      <div class="send-child">
        <table class="hostinfo">
          <tr>
            <th colspan="2" class="send-header">You (あなた)</th>
          </tr>
          <tr>
            <td class="send-label">Host name (ホストネーム):</td>
            <td class="send-value">test.ninja.fish</td>
          </tr>
          <tr>
            <td class="send-label">IP address (IPアドレス):</td>
            <td class="send-value">54.3.12.101</td>
          </tr>
        </table> 
      </div>
      <div class="send-child">
        <table class="hostinfo">
          <tr>
            <th colspan="2" class="send-header">Your friend (おともだち)</th>
          </tr>
          <tr>
            <td class="send-label">Host name (ホストネーム):</td>
            <td class="send-value"><input id="destination2" onchange="destination2OnChange()"></td>
          </tr>
          <tr>
            <td class="send-label">IP address (IPアドレス):</td>
            <td class="send-value">{{ param.destip }}</td>
          </tr>
        </table>
      </div>
      <div class="send-child">
        <img class='send-image' src="{{ url_for('static', filename='start.gif') }}">
      </div>
      <div class="send-child">
        <form action="/send" method="post">
          <div class="message-container">
            <div id="message-label">Message (メッセージ):</div>
            <div><input type="text" name="message" id="message-input" required></div>
            <div><input type="text" name="destination" id="destination-input" class="hidden"></div>
            <div><input type="submit" id="message-submit" value="Send (おくる)"></div>
          </div>
        </form>
      </div>
      <div class="send-child">
        Error message.
      </div>
      </div>
  
    <hr>
    <br>
    Received Messages (じゅしんしたメッセージ)
    <br>
    <div id="messagetable"></div>

  </body>
</html>
