<!doctype html>
<html>
  <head>
    <title>Message app on Ninja.Fish</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">// <![CDATA[
      window.onload = setupOperations;
  
      function setupOperations()
      {
          refreshMessageBlock();
          setInterval("refreshMessageBlock();", 5000);
          setTimeout("swapResultBlocks();", 5000);
      }
      
      function refreshMessageBlock()
      {
         $("#received-table").load("table");
      }

      function swapResultBlocks()
      {
        $("#status-block").css("display", "none");
        $("#next-block").css("display", "inline-block");
        $("#target-ip").removeClass("blink");
      }

      function targetInput2OnChange()
      {
        document.getElementById("target-input").value =
          document.getElementById("target-input-2").value;
      }
  // ]]></script>
  </head>

  <body>
    <div class="title-container">
      <div></div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-1.jpg') }}"></div>
      <div>
        <div class="title-string">
          Let's send a message<br>(メッセージをおくってみよう)
        </div>
      </div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-2.jpg') }}"> </div>
      <div></div>
    </div>

    <hr>

    <div class="send-container">
      <div class="send-child">
        <table>
          <tr>
            <th colspan="2" class="machine-header">You (あなた)</th>
          </tr>
          <tr>
            <td class="machine-label">Host name (ホストネーム):</td>
            <td class="machine-value">{{ param.source_hostname }}</td>
          </tr>
          <tr>
            <td class="machine-label">IP address (IPアドレス):</td>
            <td class="machine-value">{{ param.source_ipaddress }}</td>
          </tr>
        </table> 
      </div>
      <div class="send-child">
        <table>
          <tr>
            <th colspan="2" class="machine-header">Your friend (おともだち)</th>
          </tr>
          <tr>
            <td class="machine-label">Host name (ホストネーム):</td>
            <td class="machine-value"><input id="target-input-2" onchange="targetInput2OnChange()" value="{{ param.target_hostname }}" {{ param.input_disabled }}></td>
          </tr>
          <tr>
            <td class="machine-label">IP address (IPアドレス):</td>
            <td class="machine-value blink error-message" id="target-ip">{{ param.target_ipaddress }}</td>
          </tr>
        </table>
      </div>
      <div class="send-child">
        <img class='send-image' src="{{ param.image }}">
      </div>
      <div class="send-child">
        <form action="{{ url_for('send') }}" method="post">
          <div class="message-container">
            <div id="message-label">Message (メッセージ):</div>
            <div><input type="text" name="message_body" id="message-input" value="{{ param.message_body }}" {{ param.input_disabled }}></div>
            <div><input type="text" name="target_hostname" id="target-input" class="hidden"></div>
            <div><input type="submit" id="message-submit" value="Send (おくる)" {{ param.input_disabled }}></div>
          </div>
        </form>
      </div>
      <div class="send-child">
        {% if param.show_result: %}
        <div class="blink" id="status-block">
          IP address is found. The message is being sent. (IPアドレスが みつかりました。メッセージを おくっています)
        </div>
        <div class="next-container" id="next-block" style="display:none;">
          <table>
            <tr>
              <td>Message was sent successfully. (メッセージが おくられました)</td>
              <td><form action="{{ url_for('root') }}">
                <input type="submit" id="next-button" value="Next message (つぎのメッセージ)">
              </form></td>
            </tr>
          </table>
        </div>
        {% endif %}
        {% if param.error: %}
        <div class="error-container">
          <table>
            <td class="error-message">{{ param.error }}</td>
            <td><form action="{{ url_for('root') }}">
              <input type="submit" value="Start over (やりなおす)">
            </form></td>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  
    <hr>

    <div class="received-title">Received Messages (うけとったメッセージ)</div>
    <div id="received-table"></div>

  </body>
</html>
