<!doctype html>
<html>
  <head>
    <title>Message app on Ninja.Fish</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">// <![CDATA[
      window.onload = setupOperations;
  
      function setupOperations()
      {
          refreshMessageBlock();
          setInterval("refreshMessageBlock();", 5000);
          setTimeout("swapResultBlocks();", 5000);
      }
      
      function refreshMessageBlock()
      {
         $('#message-block').load("table");
      }

      function swapResultBlocks()
      {
        var next_block = document.getElementById("next-block");
        if (next_block != null) {
          next_block.style.display = "inline-block";
        }

        var status_block = document.getElementById("status-block");
        if (status_block != null) {
          status_block.style.display = "none";
        }
      }

      function destination2OnChange()
      {
        document.getElementById("destination-input").value =
         document.getElementById("destination2").value;
      }

  // ]]></script>
  </head>

  <body>
    <div class="title-container">
      <div></div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-1.jpg') }}"></div>
      <div>
        <div class="title-string">
          Let's send a message<br>(メッセージをおくってみよう)
        </div>
      </div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-2.jpg') }}"> </div>
      <div></div>
    </div>

    <hr>

    <div class="send-container">
      <div class="send-child">
        <table class="hostinfo">
          <tr>
            <th colspan="2" class="send-header">You (あなた)</th>
          </tr>
          <tr>
            <td class="send-label">Host name (ホストネーム):</td>
            <td class="send-value">{{ param.source_hostname }}</td>
          </tr>
          <tr>
            <td class="send-label">IP address (IPアドレス):</td>
            <td class="send-value">{{ param.source_ipaddress }}</td>
          </tr>
        </table> 
      </div>
      <div class="send-child">
        <table class="hostinfo">
          <tr>
            <th colspan="2" class="send-header">Your friend (おともだち)</th>
          </tr>
          <tr>
            <td class="send-label">Host name (ホストネーム):</td>
            <td class="send-value"><input id="destination2" onchange="destination2OnChange()" value="{{ param.target_hostname }}" {{ param.input_disabled }}></td>
          </tr>
          <tr>
            <td class="send-label">IP address (IPアドレス):</td>
            <td class="send-value">{{ param.target_ipaddress }}</td>
          </tr>
        </table>
      </div>
      <div class="send-child">
        <img class='send-image' src="{{ param.image }}">
      </div>
      <div class="send-child">
        <form action="{{ url_for('send') }}" method="post">
          <div class="message-container">
            <div id="message-label">Message (メッセージ):</div>
            <div><input type="text" name="message_body" id="message-input" value="{{ param.message_body }}" {{ param.input_disabled }}></div>
            <div><input type="text" name="target_hostname" id="destination-input" class="hidden"></div>
            <div><input type="submit" id="message-submit" value="Send (おくる)" {{ param.input_disabled }}></div>
          </div>
        </form>
      </div>
      <div class="send-child">
        {% if param.show_result: %}
        <div class="blink" id="status-block">
          IP address is found. The message is being sent. (IPアドレスがみつかりました。メッセージをおくっています)
        </div>
        <div class="next-container" id="next-block" style="display:none;">
          <table>
            <tr>
              <td>Message was sent successfully. (メッセージがおくられました)</td>
              <td><form action="{{ url_for('root') }}">
                <input type="submit" value="Next message (つぎのメッセージ)">
              </form></td>
            </tr>
          </table>
        </div>
        {% endif %}
        {% if param.error: %}
        <div class="error-container">
          <table>
            <td class="error-message">{{ param.error }}</td>
            <td><form action="{{ url_for('root') }}">
              <input type="submit" value="Start over (やりなおす)">
            </form></td>
          </table>
        </div>
        {% endif %}
      </div>
    </div>
  
    <hr>

    <div class="message-title">Received Messages (じゅしんしたメッセージ)</div>
    <div id="message-block"></div>

  </body>
</html>
