<!doctype html>
<html>
  <head>
    <title>DNS app on Ninja.Fish</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id="title-container-2">
      <div></div>
      <div>
        <div class="title-string">
          Success! (せいこう!)
        </div>
      </div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-2.jpg') }}"></div>
      <div></div>
    </div>

    <hr>

    <table>
      <tr class="success-txt"><td>Your IP address {{info.ipaddress}} is now named as {{info.fullname}}.</td></tr>
      <tr class="success-txt"><td>あなたのIPアドレス {{info.ipaddress}} に {{info.fullname}} というなまえがつきました</td></tr>

      <tr class="success-txt"><td></td></tr>
      
      <tr class="success-txt"><td>
        Access your server from here: <a href=http://{{info.fullname}}>http://{{info.fullname}}</a>
      </td></tr>
      <tr class="success-txt"><td>
        ここからあなたのサーバーにアクセスしましょう: <a href=http://{{info.fullname}}>http://{{info.fullname}}</a>
      </td></tr>
    </table>
  
  </body>
</html>
