<!doctype html>
<html>
  <head>
    <title>DNS app on Ninja.Fish</title>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">// <![CDATA[
      window.onload = setupOperations;
  
      function setupOperations()
      {
        refreshHostsTable();
        setInterval("refreshHostsTable();", 15000);
      }
      
      function refreshHostsTable()
      {
        $('#hosts-table').load("hosts");
      }
  
      function submitForm(e)
      {
          $("#submit-button").prop("value", "Registering... (とうろくちゅう...)");
          $("#progress-block").css("display", "block");
          $("#error-block").css("display", "none");
          $("#ipaddress-input").prop("readonly", true);
          $("#hostname-input").prop("readonly", true);
          $("#submit-button").prop("disabled", true);
          $("#register_form").submit();
      }
  // ]]></script>
  </head>

  <body>
    <div id="title-container-1">
      <div></div>
      <div><img class="title-img" src="{{ url_for('static', filename='ninja-fish-1.jpg') }}"></div>
      <div>
        <div class="title-string">
          Let's name your IP address<br>(あなたのIPアドレスに、なまえをつけましょう)
        </div>
      </div>
      <div></div>
    </div>

    <hr>

    <div class="entry-container">
      <div class="entry-child center">
        <form action="{{ url_for('register') }}" method="post" id="register_form"></form>
        <table>
          <tr>
            <td class="entry-label">IP address (IPアドレス):</td>
            <td class="entry-value">
              <input name="ipaddress" id="ipaddress-input" value="{{ param.ipaddress }}" form="register_form">
            </td>
          </tr>
          <tr>
            <td class="entry-label">Name (なまえ):</td>
            <td class="entry-value">
              <span>
                <input name="hostname" id="hostname-input" value="{{ param.hostname }}" form="register_form">
              </span>
              <span>
                .{{ param.domain }}
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="submit-container">
              <input type="submit" id="submit-button" value="Register (とうろく)" onclick="submitForm();" form="register_form">
            </td>
          </tr>
        </table>
      </div>
      <div class="entry-child center">
        <div class="blink" id="progress-block" style="display: none;">
          Wait for a minute or two. (１～２ふん おまちください)
        </div>
        {% if param.error: %}
        <div class="error-container" id="error-block">
          <table>
            <td class="error-message">{{ param.error }}</td>
          </table>
        </div>
        {% endif %}
      </div>
    </div>

    <hr>

    <div class="hosts-title">Registered Names (とうろくされたなまえ)</div>
    <div class="center" id="hosts-table"></div>

  </body>
</html>
