{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Let's name your IP address (あなたのIPアドレスに、なまえをつけましょう){% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ipaddress">IP address (IPアドレス)</label>
    <input name="ipaddress" id="ipaddress" required>
    <label for="servername">Name (なまえ)</label>
    <div><input name="servername" id="servername" class="servername" required>.ninja.fish</div>
    <div><input type="submit" value="Register (とうろく)" onclick="loading();"> This takes 1 to 2 minutes. (1~2分かかります)</div>
  </form>

  <div>TODO: List of existing entries.</div>
{% endblock %}
