{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Let's name your IP address (あなたのIPアドレスに、なまえをつけましょう){% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ipaddress">IP address (IPアドレス)</label>
    <input name="ipaddress" id="ipaddress" required>
    <label for="servername">Name (なまえ)</label>
    <div><input name="servername" id="servername" class="servername" required>.ninja.fish</div>
    <input type="submit" value="Register (とうろく)">
  </form>
{% endblock %}
